{% extends "default_page/base.html" %}

{% block head_title_page %} Index {% endblock %}

{% block content %}

        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}

        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto">
                    <h1>index.html</h1>
                </div>
            </div>
        </div>


        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">profile</a>
            <a href="{% url 'logout' %}">logout</a>
        {% else %}
            <a href="{% url 'login' %}">login</a>
            <a href="{% url 'register' %}">register</a>
        {% endif %}

{% endblock %}

